{% extends 'general/base.html' %}
{% load bootstrap3 %}
{% load i18n %}



{% block title %}
    {% trans 'sign in'|capfirst %}
{% endblock %}

{% block content %}
    {%  %}
    <div class="row">
        <div class="col-md-4 col-xs-6 col-md-offset-4 col-xs-offset-3">
            <div class="panel panel-default fill" id="login">
                <div class="panel-heading">
                    <h2 class="panel-title">{% trans 'sign in'|capfirst %}</h2>
                </div>
                <div class="panel-body">
                    <form action="{% url 'accounts' %}" method="post" class="form">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button type="submit" class="btn pull-right btn-primary">
                                {% bootstrap_icon "ok" %} {% trans 'sign in'|capfirst %}
                            </button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}