{% extends 'general/bootstrap.html' %}
{% load bootstrap3 %}
{% load i18n %}



{% block bootstrap3_content %}
{#    {% bootstrap_messages %}#}
{#    <div class="container-fluid">#}
{#        <div class="row">#}
            {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

            {% block content %}(no content){% endblock %}

{#        </div>#}
{#    </div>#}
{#    <hr>#}
{#    <ul class="list-inline text-center">#}
{#        <li>{% trans "KIP" %} {% now "Y" %}</li>#}
{#    </ul>#}

{% endblock %}