{% extends 'general/bootstrap.html' %}
{% load bootstrap3 %}
{% load i18n %}



{% block bootstrap3_content %}
    {% bootstrap_messages %}
{#    <style>#}
{#        .container-fluid {#}
{#            position: absolute;#}
{#            top: 50%;#}
{#            left: 50%;#}
{#            transform: translate(-50%, -50%);#}
{#        }#}
{#    </style>#}
    <div class="container-fluid">
        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}(no content){% endblock %}
    </div>
    <hr>
    <ul class="list-inline text-center">
        <li>{% trans "KIP" %} {% now "Y" %}</li>
    </ul>

{% endblock %}