{% extends 'general/base.html' %}
{% load bootstrap3 %}
{% load i18n %}



{% block title %}
    Login
{% endblock %}

{% block content %}
    {% bootstrap_messages %}
    <div class="row">
        <div class="col-md-4 col-xs-2">

        </div>
        <div class="col-md-4 col-xs-8">
            <div class="panel panel-default fill" id="login">
                <div class="panel-heading">
                    <h2 class="panel-title">{% trans 'Login' %}</h2>
                </div>
                <div class="panel-body">
                    <form action="{{ request.get_full_path }}" method="post" class="form">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button type="submit" class="btn pull-right btn-primary">
                                {% bootstrap_icon "ok" %} {% trans 'Login' %}
                            </button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-2">

        </div>
    </div>
{% endblock %}